@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
    background-color: #FFF;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .animate-walk {
    animation: walk 30s ease-in-out alternate infinite;
  }

  .bannerBackground {
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
  }

  .buttonSummaryCarrosel > div > div {
    background: #8D8D8D;
  }

  .buttonSummaryCarrosel:disabled > div > div {
    background: #000;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@keyframes walk {
  from {
    transform: translateX(0%)
  }
  to {
    transform: translateX(-50%)
  }
}